<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_Client</key>
	<string>wVuZ2efCWzeLYNpRe_byOsPy6GARksBDt5RzwLSbDnkmdm4Cd1gGQATQiStUhQ-6_4AoeV5jR94P93VD9AITvXoR3axB792jTsSmbUFSbANXSj0XPidt_qtj3gkBYXYx</string>
</dict>
</plist>
